{
  "extends": ["airbnb-typescript/base"],
  "env": {
    "node": true
  },
  "plugins": ["@typescript-eslint", "import"],
  "parserOptions": {
    "project": "./tsconfig.lint.json"
  },
  "rules": {
    "comma-dangle": "off",
    "no-console": "off",
    "max-len": ["error", 120, { "ignoreStrings": true, "ignoreTemplateLiterals": true }],
    "arrow-parens": ["error", "as-needed"],
    "no-plusplus": "off",
    "class-methods-use-this": "off",
    "no-restricted-globals": "off",
    "@typescript-eslint/indent": ["error", 4],
    "@typescript-eslint/quotes": ["error", "double"],
    "@typescript-eslint/no-unused-vars": "warn"
  }
}